#    node-printer.service: Systemd file for enabling boot/startup on linux
#    Copyright (C) 2022 Woo Huiren
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU Affero General Public License as published
#    by the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU Affero General Public License for more details.
#
#    You should have received a copy of the GNU Affero General Public License
#    along with this program.  If not, see <https://www.gnu.org/licenses/>.

[Unit]
Description=Systemd file for the printer
After=network.target

[Service]
Restart=on-failure
RestartSec=5s
PIDFile=/run/node-printer.pid
ExecStart=/usr/bin/node ./home/hackerspacesg/hsg-label-printer/bin/www
ExecStop=/bin/kill -s QUIT $MAINPID
User=hackerspacesg
Group=hackerspacesg

[Install]
WantedBy=multi-user.target
