//    index.pug: template for the webpage where you can pick text and image to print
//    Copyright (C) 2022 Woo Huiren
//
//    This program is free software: you can redistribute it and/or modify
//    it under the terms of the GNU Affero General Public License as published
//    by the Free Software Foundation, either version 3 of the License, or
//    (at your option) any later version.
//
//    This program is distributed in the hope that it will be useful,
//    but WITHOUT ANY WARRANTY; without even the implied warranty of
//    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//    GNU Affero General Public License for more details.
//
//    You should have received a copy of the GNU Affero General Public License
//    along with this program.  If not, see <https://www.gnu.org/licenses/>.

extends layout
block content
    h1 World Best's Printer
    canvas(id="myCanvas", width="800", height="1200")
    label(for="pictureToCanvas") Add Picture
    input(id="pictureToCanvas", type="file")
    label(for="textInput") Add Text
    textarea(id="textInput")
    button(id="updateText") Update Text
    button(id="submitImage") Submit
    script(src='/javascripts/index.js')
