//-    pdf.pug: template for the webpage performing PDF upload to various printers
    Copyright (C) 2022 Woo Huiren

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
extends layout
block content
    h1 World Best's Printer
    label(for="pdfUpload") Select PDF to Upload
    input(id="pdfUpload", name="pdf-file", type="file")
    select(id="printerName")
        option(value="LabelWriter_4XL") Label printer
        option(value="DocuPrint_3055_A4_PDF") A4 Black and white printer
        option(value="EPSON_L455_Series") A4 Color printer
    button(id="submitPdf") Submit
    script(src='/javascripts/pdf.js')
